body {
  background-color: $default-white-base;
  font-family: $secondary-font;

  hr {
    margin: .5rem 0;
    border: .5px solid #eaeaea;
  }

  p {
    font-family: $tertiary-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    }

  .sub-paragraph {
    font-family: $tertiary-font;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: $default-black-base;
    font-family: $primary-font;
    text-transform: uppercase;
  }
  
  h1 {
    font-weight: 800;
    font-size: 4rem;
    line-height: 3.5rem;
    color: $default-black-base;
  }

  // .titleName {
  //   letter-spacing: 1px;
  // }
  
  h2 {
    color: lighten($default-black-base, 10%);
    font-size: 3.25rem;
    line-height: 3.5rem;
  }
  
  h3 {
    font-size: 1.75rem;
    line-height: 2rem;
    color: lighten($default-black-base, 20%);
  }
  
  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
    color: lighten($default-black-base, 25%);
  }
  
  h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  h6 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  @media screen and (max-width: 992px) {

    @for $i from 1 through 4 {
      h#{5 - $i} {
          font-size: $i * .75rem;
          line-height: $i * .75rem;
      }
    }
  }

}

footer {
  padding: 3rem 0;
}

.img-fluid {
  width: 100%;
  height: auto;
}

@media (max-width: 992px) {
  .mb-mobile-2 {
    margin-bottom: 2rem;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate-90-deg {
  transform: rotate(90deg);
}

.rotate-180-deg{
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  .rotate-180-deg{
    transform: rotate(0deg);
  }
}