body {
  background-color: $primary-dark-200;
  font-family: $secondary-font;
  
  h1, h2, h3, h4, h5, h6 {
    color: $white;
    font-family: $primary-font;
    font-weight: 400;
    text-transform: uppercase;    
  }
  
  h1 {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  
  h2 {
    font-size: 3.25rem;
    line-height: 3.75rem;
  }
  
  h3 {
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  
  h4 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  h5 {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  
  h6 {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  p {
  font-family: $primary;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.80);
  line-height: 1.5rem;
  }
}

footer {
  padding: 3rem 0;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.ecborder{
  border: 1px solid $primary-dark-600;
}

@media (max-width: 992px) {
  .mb-mobile-2 {
    margin-bottom: 2rem;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rotate-90-deg {
  transform: rotate(90deg);
}

.rotate-180-deg{
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  .rotate-180-deg{
    transform: rotate(0deg);
  }
}