.interactive-color {
  color: lighten($primary, 30%);
}

.ec-gray {
  color: darken($paragraph, 30%);
}

.bg-black {
  background-color: $primary-dark-400 !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-dark {
  color: $black !important;
}

.text-light {
  color: $white !important;
}