.card {
    padding: 1rem 0;
    transition: all 0.25s ease-in-out;
    border-radius: 8px;
    border: 1px solid $default-black-base;
    // border-top: 2px solid dark-sec-base;
    // border-right: 2px solid dark-sec-base;
    // border-bottom: 2px solid dark-sec-base;
    // border-left: 2px solid dark-sec-base;
    // background: linear-gradient(-45deg, var(--c1, dark-sec-base), var(--c2, dark-sec-base), var(--c1, dark-sec-base)) var(--x, 0)/ 200%;

    h4 {
        font-size: 28px;
        line-height: 28px;
        font-weight: 700;
        color: lighten($default-black-base, 10%) !important;
        font-family: $primary-font;
    }

    p {
        font-size: 16px;
    }

    &:hover {
        transform: translateY(-2px);
        transition: all 0.25s ease-in-out;
        // border-top: 2px solid dark-sec-base;
        // border-right: 2px solid dark-sec-base;
        // border-bottom: 2px solid dark-sec-base;
        // border-left: 2px solid dark-sec-base;
        background: darken($light-prim-base, 10%) !important;
        --x: 50%;

    }
    
    &:active {
        transform: translateY(2px);
        --x: 50%;
    }

    .card-icons {
        width: 48px;
        height: auto;
    }
}

.resume-card {
    padding: 1rem 0;
    transition: all 0.25s ease-in-out;
    border-radius: 8px;
    // border-top: 2px solid dark-sec-base;
    // border-bottom: 2px solid dark-sec-base;
    // border-right: 2px solid dark-sec-base;
    // border-left: 2px solid dark-sec-base;
    // background: linear-gradient(-45deg, var(--c1, dark-sec-base), var(--c2, dark-sec-base), var(--c1, dark-sec-base)) var(--x, 0)/ 200%;

    p {
        font-weight: 400;
        font-size: 16px;
    }

    &:hover {
        // border-top: 2px solid dark-sec-base;
        // border-bottom: 2px solid dark-sec-base;
        // border-right: 2px solid dark-sec-base;
        // border-left: 2px solid dark-sec-base;
        transform: translateY(-2px);
        transition: all 0.25s ease-in-out;
        --x: 50%;
    }

    .card-icons {
        width: 48px;
        height: auto;
    }
}

@media screen and (max-width: 992px) {
    .card, .resume-card{
        padding: 3rem 0;
    }
}