.header-bg {
    background: radial-gradient(at 66% 50%, $default-white-base, #f4f4f4);
    z-index: 0;
}

.profile-mobile-image-container {
    display: none;
}

.home-subtitle {
    font-weight: 500;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.95rem;
    font-size: 1.95rem;
    color: $light-prim-base;
    background-color: $default-black-base;
    padding: 5px 10px 7px 10px; 
    animation-duration: 2s;
}

.home-description {
    color: $dark-prim-base;
    font-size: 18px;
    line-height: 32px;
    font-weight: 700;
    padding: 0px 32px 0px 24px;
    border-left: 4px solid darken($light-prim-base, 10%);

}

@media screen and (max-width: 992px) {
    .intro-logo {
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // object-fit: cover;
        // width: 100%;
        // height: 100%;
        // flex: 1;
        // position: relative;
    }

    .header-bg {
        height: 100%;
        padding: 72px 0 56px 0;
    }

    .profile-mobile-image-container {
        display: flex;
        flex:.1;
        position: relative;
    }

    .title-container {
        display: flex;
        flex-direction: row;
        text-align: left;
        align-items: center;
        height: auto;
        
        img {
            align-items: center;
            object-fit: contain;
            min-height: 96px;
            max-height: 120px;
            margin-right: 8px;
        }

        .home-title {
            display: flex;
            font-size: 2.2rem;
            line-height: 2rem;

        }

        .home-subtitle {
            margin-top: 6px;
            font-size: 17px;
            line-height: 17px;
            padding: 4px 5px 5px 5px;
            letter-spacing: .1px;
        }
    }
}