// Button styles

.btn {
  color: darken($light-prim-base, 15%);
  padding: 1rem;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0;
  border: 0;
  box-shadow: 0 10px 6px -7px rgba(0, 0, 0, 0.4) !important;
  transition: all .25s ease 0s;
  outline: none;
  border-radius: 4px;
  border-color: none;
  min-width: 120px;
}

.btn-primary {
  padding: 1rem;
  background: linear-gradient(90deg, var(--c1, $default-black-base), var(--c2, $default-black-base) 50%, var(--c1, $default-black-base)) var(--x, 0)/ 200%;
  text-decoration: none;

  &:hover {
    color: $light-prim-base;
    box-shadow: 0 16px 12px -12px rgba(0, 0, 0, 0.3) !important;
    transform: translateY(-2px);
    transition: all .25s ease-in-out;
    --x: 75%;    
  }
  
  &:focus {
    color: $white;
    background-color: $default-black-base;
    box-shadow: 0 16px 12px -12px rgba(0, 0, 0, 0.3) !important;
    outline: none;
    transition: all .25s ease-in-out;
    --x: 50%;
  }

  &:active {
    color: $white;
    background-color: $default-black-base !important;
    box-shadow: 0 10px 6px -7px rgba(0, 0, 0, 0.7) !important;
    transform: translateY(1px);
    transition-duration: 0s;
    transition: all .25s ease-in-out;
    --x: 50%;
  }
}

.btn-primary:not(:disabled):not(.disabled).active {
  border-color: none;
}

// Link Styles

a {
  color: $default-black-base;
  text-decoration: none;
  
  &:hover {
    color: $light-interactive-prim-base;
    text-decoration: underline;
  }
}