@media (min-width: 992px) {
    #mainNav {
      color: $default-black-base;
      font-family: $secondary-font;
      height: 56px;
      padding: 0;
      // box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4) !important;

      img {
        height: 32px;
      }
      
    }

    #mainNav .nav-link {
      transition: none;
      padding: 1rem 1.5rem;
      color: $default-white-base;
      transition: .5s;
      
    }
    #mainNav .nav-link:hover {
      color: $default-black-base;
    }
    #mainNav .nav-link:active {
      color: $default-black-base;
    }
    #mainNav.navbar-shrink {
      background-color: #F6F6F6;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: $white;
      &:hover{
        color: $default-black-base;
      }
    }
    #mainNav.navbar-shrink .nav-link {
      color: $default-black-base;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: $default-black-base;
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: $default-black-base;
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: $default-black-base;
      outline: none;
  }
}