/* mobile style */
#mainNav {
  min-height: 56px;
  background-color: $primary-dark-200;
  border-radius: 0;
  border-bottom: 1px solid $primary-dark-700;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4) !important;

  .nav-svg {
    height: 40px;
  }

  .navbar {
    padding: 0rem;
  } 
  .navbar-toggler {
    padding: 0;
    color: $secondary;
    border: none;
    border-radius: 0;
    &:focus {
      outline: none;
    &:hover {
      color: $secondary;
      border: none;
    }
    }
  }
  .navbar-brand {
    color: darken($white, 20%);
    font-weight: 700;
    padding: 0;
  }
}
.navbar-dark .navbar-nav .nav-link {
    transition: 0.5s;
    color: darken($white, 20%);
    padding: 1rem 1rem;
    &:hover{
      color: $secondary;
    }
}

.navbar-dark .navbar-nav .nav-link.active {
  color: $secondary;
}