@media (min-width: 992px) {
    #mainNav {
      color: darken($secondary, 10%);
      font-family: $secondary-font;
      height: 56px;
      padding: 0;
      border-bottom: 1px solid $primary-dark-600;
      box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4) !important;
      
    }

    #mainNav .nav-link {
      transition: none;
      padding: 1rem 1.5rem;
      color: darken($secondary, 10%);
      border-bottom: 0.25rem solid transparent;
      transition: .5s;
      
    }
    #mainNav .nav-link:hover {
      color: $secondary;
    }
    #mainNav .nav-link:active {
      color: $secondary;
    }
    #mainNav.navbar-shrink {
      background-color: $primary-dark-200;
    }
    #mainNav.navbar-shrink .navbar-brand {
      color: $white;
      &:hover{
        color: $secondary;
      }
    }
    #mainNav.navbar-shrink .nav-link {
      color: darken($secondary, 10%);
      border-bottom: 0.25rem solid transparent;
    }
    #mainNav.navbar-shrink .nav-link:hover {
      color: $secondary;
    }
    #mainNav.navbar-shrink .nav-link:active {
      color: $secondary;
    }
    #mainNav.navbar-shrink .nav-link.active {
      color: $secondary;
      outline: none;
      border-bottom: 0.25rem solid $secondary;
    }
  }