/* mobile style */
#mainNav {

  font-family: $secondary-font;
  min-height: 56px;
  background: lighten($primary-dark-200, 5%);
  border-bottom: 1px solid $primary-dark-500;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4) !important;

  .nav-svg {
    height: 40px;
  }

  .navbar {
    padding: 0;
  } 
  .navbar-toggler {
    padding: 0;
    color: $secondary;
    border: none;
    border-radius: 0;
    
    &:focus {
      outline: none;
    &:hover {
      color: $secondary;
      border: none;
    }
    }
  }
  .navbar-brand {
    color: $white;
    font-weight: 700;
    padding: 0;
  }
}

.navbar-dark .navbar-nav .nav-link {
    transition: 0.5s;
    padding: 2rem 1rem;

    &:hover {
      color: $secondary;
    }
}

.nav-item {
  border-top: solid 1px $primary-dark-400;
}

.nav-item:first-of-type{
  border-top: none;
}