@for $i from 1 through 4 {
    h#{5 - $i} {
        color: $white;
        font-size: $i * 1rem;
        font-family: $primary-font;
        font-weight: 400;
        line-height: $i * 1rem + .375rem;
        text-transform: uppercase;
    }
  }
  
  @media screen and (max-width: 768px) {
    @for $i from 1 through 4 {
      h#{5 - $i} {
          color: $white;
          font-size: $i * .75rem;
          font-family: $primary-font;
          font-weight: 400;
          line-height: $i * .75rem + .25rem;
          text-transform: uppercase;
      }
    }
  }