body {
  background-color: $primary-dark-200;
  font-family: $secondary-font;
  font-weight: normal;
  
  p {
  font-size: .875rem;
  color: rgba(255, 255, 255, 0.75) !important;
  letter-spacing: 0.0625em;
  line-height: 1.5rem;
  }
}

@for $i from 1 through 4 {
  h#{5 - $i} {
      color: $white;
      font-size: $i * 1rem;
      font-family: $primary-font;
      font-weight: 400;
      line-height: $i * 1rem + .375rem;
      text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  @for $i from 1 through 4 {
    h#{5 - $i} {
        color: $white;
        font-size: $i * .75rem;
        font-family: $primary-font;
        font-weight: 400;
        line-height: $i * .75rem + .25rem;
        text-transform: uppercase;
    }
  }
}

@media (min-width: 992px) {
  #mainNav {
    font-family: $secondary-font;
    height: 56px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: $primary-dark-300;
    border-bottom: 1px solid $primary-dark-800;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.4) !important;
    .navbar-brand {
    padding: .5rem 0;
    color: darken($white, 20%);
      &:hover{
        color: $secondary;
      }
    }
  }
  #mainNav .nav-link {
    transition: none;
    padding: 1rem 1.5rem .8rem 1.5rem;
    color: darken($white, 20%);
    border-bottom: 0.25rem solid transparent;
    transition: .5s;
  }
  #mainNav .nav-link:hover {
    color: $secondary;
  }
  #mainNav .nav-link:active {
    color: $secondary;
  }
  #mainNav.navbar-shrink {
    background-color: $primary-dark-200;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: darken($white, 20%);
    &:hover{
      color: $secondary;
    }
  }
  #mainNav.navbar-shrink .nav-link {
    color: darken($white, 20%);
    padding: 1rem 1.5rem .8rem 1.5rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: $secondary;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: $secondary;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: $secondary;
    outline: none;
    border-bottom: 0.25rem solid $secondary;
  }
}

.bg-black {
  background-color: $primary-dark-400 !important;
}

.bg-dark {
  background-color: $gray-900 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 3rem 0;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.ecborder{
  border: 1px solid $primary-dark-600;
}

@media (max-width: 992px) {
  .mb-mobile-2 {
    margin-bottom: 2rem;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-section .card{
  border: 0;
  border-bottom: .25rem solid $primary-dark-600;
}

.contact-section .card hr{
  border: 0;
  border-bottom: .25rem solid $primary-dark-600;
}

.rotate-90-deg {
  transform: rotate(90deg);
}

.rotate-180-deg{
  transform: rotate(180deg);
}

@media (max-width: 992px) {
  .rotate-180-deg{
    transform: rotate(0deg);
  }
}